/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

html,
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  overscroll-behavior: none; /* Prevents both pull-to-refresh and swipe navigation */
}

body {
  background: #111;
  color: white;
  overflow: hidden;
  position: relative;
}

h1 {
  font-family: "Lobster Two", system-ui;
}

:root {
  --score-primary-0: #ff0000;
  --score-primary-1: #ffa500;
  --score-primary-2: #ffff00;
  --score-primary-3: #7fff00;
  --score-primary-4: #008000;
  --score-primary-5: #8800b1;
}
