---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/SiteMenu'
import '../styles/global.css'

---

<Layout title="Where in the Worldle?">
	<Sidebar client:only="react" />
  <main>
    <h1>How To Play</h1>
  </main>
</Layout>